* {
    font-family: 'PT Sans', sans-serif;
}
.subpage {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    transition: left 1s ease, right 1s ease;
}

.subpage.splash {
    background-color: #04ac9c;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100vw; 
}

.subpage.splash.open {
    left: 0;
}

.subpage.splash > div.logo-container {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    background-image: url(./img/camilogo.png);
    background-size: cover;
}

.subpage.list {
    display: flex;
    flex-direction: column;
    right: -100vw;
}

.subpage.list.open {
    right: 0;
}

.subpage.list > nav {
    height: 80px;
    width: 100%;
    background-color: #04ac9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpage.list > nav > h1{
    text-transform: uppercase;
}

.subpage.list > .excercise-container {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subpage.list > .excercise-container > button {
    background-color: #04ac9c;
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpage.list > .excercise-container > button > span {
    margin: 0 5px;
}

.subpage.list > .excercise-container > button.help {
    opacity: 0.6;
    margin-top: 60px;
}

.subpage.model {
    display: flex;
    flex-direction: column;
    left: -100vw;
}

.subpage.model.open {
    left: 0;
}

.subpage.model > nav {
    height: 80px;
    width: 100%;
    background-color: #04ac9c;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subpage.model > nav > button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
}

.subpage.model > model-viewer {
    height: calc(100% - 80px);
    width: 100%;
}

.subpage.model > model-viewer.hide {
    display: none;
}

.subpage.model > model-viewer > button {
    border: 1px solid gray;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
}

.subpage.model > model-viewer > .ar-button {
    background-color: #04ac9c;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpage.model > model-viewer > .ar-button > span{
   margin-right: 10px;
}

/* Swal Customization */

.cy-swal2-title {
    color: #04ac9c !important;
}

.cy-swal2-confirm {
    background-color: #04ac9c !important;
}