* {
    font-family: 'PT Sans', sans-serif;
}

.subpage {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    transition: left 1s ease, right 1s ease;
}

.subpage.splash {
    background-color: #04ac9c;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100vw; 
    z-index: 10;
}

.subpage.splash.open {
    left: 0;
}

.subpage.splash > div.logo-container {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    background-image: url(./img/camilogo.png);
    background-size: cover;
}

.subpage > nav {
    height: 80px;
    background-color: #04ac9c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-transform: uppercase;
    z-index: 9;
}

.subpage.model {
    display: flex;
    flex-direction: column;
    right: -100vw;
    z-index: 1;
}

.subpage.model > nav {
   justify-content: flex-start;
}

.subpage.model.open {
    left: 0;
}

.subpage.model > .content {
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0;

}

.subpage.model > .content > model-viewer {
    position: relative;
    width: 100%;
    height: 100%;
}

.subpage.model > .content > model-viewer > .ar-button {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 40px;
    width: 40px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #b0e8e3;
    border-right: 2px solid #b0e8e3;
    border-left: 2px solid #b0e8e3;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    color: #04ac9c;
    box-sizing: content-box;
    padding: 0;
}


.subpage.model > .content > model-viewer > .model-hotspot {
    color: #04ac9c;
    border: 2px solid #d5f5f2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s linear;
    display: none;
 }

 .subpage.model > .content > model-viewer.show-hotspots > .model-hotspot {
    display: block;
 }

.subpage.model > .content > model-viewer > .model-hotspot:hover {
    background-color: #d5f5f2;
}

.subpage.model > .content > .tip-display-toggle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 40px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #b0e8e3;
    border-right: 2px solid #b0e8e3;
    border-left: 2px solid #b0e8e3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    color: #04ac9c;
    transition: background-color 0.5s linear, color 0.5s linear;
    cursor: pointer;
}

.subpage.model > .content > .tip-display-toggle.active {
    background-color: #04ac9c;
    color: white;
}

.subpage.model > .content > .tab {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 40px;
    width: 60px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #b0e8e3;
    border-right: 2px solid #b0e8e3;
    border-left: 2px solid #b0e8e3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    color: #04ac9c;
    cursor: pointer;
}

.subpage.model > .content > .tab > .more {
    display: none;
}

.subpage.model > .content.expanded > .tab {
    bottom: 450px;
}

.subpage.model > .content.expanded > .tab > .less {
    display: none;
}

.subpage.model > .content.expanded > .tab > .more {
    display: unset;
}

.subpage.model > .content > .info {
    position: absolute;
    width: 100%;
    height: 450px;
    bottom: -450px;
    z-index: 10;
    border-top: 2px solid #b0e8e3;
    border-right: 2px solid #b0e8e3;
    border-left: 2px solid #b0e8e3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
    background-color: white;
    color: #04ac9c;  
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
}

/* Animate only when open */
.subpage.model.open > .content > .info,
.subpage.model.open > .content > .tab {
    transition: bottom 0.7s ease-in-out;
}

.subpage.model > .content.no-embed > .info {
    height: 300px;
    bottom: -300px;
}

.subpage.model > .content.expanded.no-embed > .tab {
    bottom: 300px;
}

.subpage.model > .content > .info > .video-container {
    display: flex;
    justify-content: center;
}

.subpage.model > .content.no-embed > .info > .video-container {
    justify-content: flex-start;
}

.subpage.model > .content > .info > h1,
.subpage.model > .content > .info > .video-container > a {
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #04ac9c;
}
.subpage.model > .content > .info > .video-container > a {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.subpage.model > .content > .info > .hide {
    display: none;
}

.subpage.model > .content > .info > p {
    margin: 0;
}

.subpage.model > .content.expanded > .info {
    bottom: 0;
}
/* Swal Customization */

.cy-swal2-title {
    color: #04ac9c !important;
}

.cy-swal2-confirm {
    background-color: #04ac9c !important;
}

.swal2-html-container {
    color: #04ac9c;
}

.swal2-html-container > p {
    line-height: 30px;
}

.swal2-html-container > p > span.material-symbols-outlined {
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #b0e8e3;
    vertical-align: middle;
}

/* VIDEO FORMATTING IN MODEL PAGE  */
#video_link.hide,
#video_embed.hide {
    display: none;
}

#video_embed {
    height: 350px;
    width: 100%;
    margin: 10px 0;
    z-index: 10;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color:white;
}


.timer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #04ac9c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timer-overlay > *:first-child {
    margin-top: 40px;
}

.timer-overlay > *:last-child {
    margin-bottom: 40px;
}


.timer-overlay.active {
    transition: background-color 0.8s linear;
    z-index: 3;
}

.timer-overlay.active.pulse {
    background-color:white;
}

.timer-overlay > .phase {
    width: 100%;
    font-size: 100px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.8s linear;
}

.timer-overlay.active.pulse > .phase {
    color: #04ac9c;
}

.timer-overlay > .stop {
    background-color: white;
    color: #04ac9c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    height: 80px;
    padding: 0 30px;
    border-radius: 40px;
    border: none;
    letter-spacing: 2px;
    transition: color 0.8s linear, background-color 0.8s linear;
}

.timer-overlay.active.pulse > .stop {
    background-color: #04ac9c;
    color: white;
}

.timer-overlay.active.child-pulse {
    transition: background-color 0.2s linear;
    background-color: #d8fffb;
}

.timer-overlay.active.child-pulse > .phase.pulse {
    color: white;
}

.timer-overlay.active.child-pulse > .stop.pulse {
    color: #04ac9c;
    background-color: white;
}

@keyframes beat {
    0%, 50%, 100% { font-size: 100px; }
    30%, 80% { transform: 60px; }
}

.timer-overlay.active > .phase > .phase-time {
    animation: 1s ease 0s infinite beat;
}




@media only screen and (min-width: 992px) {
    .subpage.list > .list-container > .category  {
        margin-top: 0;
    }

    .subpage.list > .list-container > .category > .name > .material-symbols-outlined  {
        display: none;
    }

    .subpage.list > .list-container > .category > .exercise-list {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 30px;
    }

    .subpage.list > .list-container > .category > .exercise-list > .exercise {
        width: 25%;
        height: 60px;
        border: 2px solid #04ac9c;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: #ecfcfb;
        transition: background-color 0.3s linear, border-color 0.3s linear;
    }

    .subpage.list > .list-container > .category > .exercise-list > .exercise:hover {
        background-color: #04ac9c;
        border-color: #ecfcfb;
    }

    .subpage.list > .list-container > .category > .exercise-list > .exercise > button {
        padding-left: 0;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: color 0.3s linear;
    }

    .subpage.list > .list-container > .category > .exercise-list > .exercise:hover > button {
        color: #ecfcfb;
    }

    .subpage.list > .list-container > .category > .exercise-list > .exercise > button > .material-symbols-outlined {
        display: none;
    }

    /* VIDEO FORMATTING IN MODEL PAGE  */
    #video_embed {
        height: 600px;
        max-width: 1000px;
    }

    .subpage.model > .content > .info {
        height: 650px;
        bottom: -650px;
    }

    .subpage.model > .content.expanded > .info {
        bottom: 0;
    }

    .subpage.model > .content.expanded > .tab {
        bottom: 650px;
    }

    .timer-overlay.active > .phase {
        font-size: 60px;
    }
    
}